[user]
	email = carterfs@pm.me
	name = Librarian
	useConfigOnly = true

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[init]
	defaultBranch = master

[core]
	editor = nvim +16 -c 'startinsert'
	excludesfile = ~/.gitignore_global
	compression = 9
	filemode = false

[rebase]
	autosquash = true

[rerere]
	enabled = true
	autoupdate = true

[pull]
	rebase = true

[fetch]
	prune = true

[safe]
	directory = /Users/carter/.local/share/nvim/
	directory = /Users/carter/.local/share/nvim/lazy/
	directory = *

[push]
	autoSetupRemote = true

[commit]
	gpgsign = false
	template = ~/Sync/personalCode/commit-conventions.txt

[status]
	short = true
	showUntrackedFiles = no

[help]
	autoCorrect = prompt

[branch]
	sort = -committerdate

[color]
	ui = auto


[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
